@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=Jersey+20+Charted&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    
}

a{
    color: #333;
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    padding: 10px 1rem;
    /* border-bottom: 1px solid rgb(28, 28, 29); */

    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        img{
            width: 40px;
        }
    }
    .btn{
        a{
        padding: 8px 20px;
        border: none;
        border: 1px solid rgb(241, 203, 65);
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.1rem;
        font-weight: bolder;
        transition: background-color 0.3s ease;
        &:hover{
            background-color: rgb(241, 203, 65, 0.8);
            color: #fff;
        }
        }
    }
}

#loder{
    img{
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }
}

/* footer/////////////// */


footer{
    background-color: #ffffff;
    color: #333;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    img{
        width: 30px;
        height: 30px;
        margin-right: 1rem;
    }
}
