.search-section{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-height: 78vh;
    padding: 1rem;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.bold{
    font-weight: bold;
    color: rgb(249, 175, 72);
}


#searchInput{
    width: 18rem;
    height: 36px;
    border: none;
    border: 1px solid hsl(78, 76%, 47%);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 1rem;
}

#searchBtn,.infoBtn{
    border-radius: 5px;
    padding: 7px 16px;
    font-size: 1rem;
    background-color: #4e9700;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    &:hover{
        background-color: #3c7800;
    }
}


#searchResult{
    width: 80%;
    margin: auto;
    margin-top: 2rem;
}

.coin-cards{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover{
        background-color: #f3f3f3;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        transform: translateY(-2px);
    }

}



.coinHeading{
    display: flex;
    align-items: center;
    gap:20px;
    h2{
        font-size: 1.2rem;
    }
    
}