

.main-section{
    background-color: #e5e5e5;
    padding: 1rem 2rem;
    display: flex;


    .left{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;

        h1{
            font-size: 2.5rem;
            font-weight: 700;
            margin-left: 1rem;
            margin-bottom: 10px;
            color: rgb(0 111 133);
        }
        p{
            font-size: 1.2rem;
            margin-left: 1rem;
            line-height: 1.5;
        }
    }

    .right{
        width: 50%;
        height: 100vh;
        display: flex;
        align-items: center;


        img{
            width: 80%;
        }
    }
}

.moveing-cards{
    background-color: #e5e5e5;
    .top{
        text-align: center;
        color: rgb(249, 175, 72);
    }
}

.cards-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    overflow: hidden;

    .card{
        min-width: 20rem;
        display: flex;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        padding: 10px;
        gap:10px;
        align-items: center;
        position: relative;
        animation: slide 15s linear infinite alternate;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover{
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            transform: scale(1.05);
        }
        img{
            width: 40px ;
            height: 40px ;
        }
        p{
            color:green;
        }
    }
}

@keyframes slide {
    0% {
      right: 0px;
    }
  
    100% {
      right: 100%;
    }
  }
