/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.3s ease;
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    transition: all 0.3s ease;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: all 0.3s ease;
}

header h1 {
    text-align: center;
    margin: 0;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    transition: color 0.3s;
}

nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s;
    position: absolute;
    left: 0;
    bottom: -5px;
}

nav ul li a:hover {
    color: #ff6347;
}

nav ul li a:hover::after {
    width: 100%;
}

main {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    opacity: 0;
    animation: slideUp 0.5s forwards 0.5s;
}

article img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    opacity: 0;
    animation: fadeIn 0.5s forwards 1s;
}

article h2 {
    color: #333;
    margin-top: 0;
    transition: color 0.3s ease;
}

article h2:hover {
    color: #ff6347;
}

article p {
    margin-bottom: 20px;
}

.date {
    font-style: italic;
    color: #777;
    margin-bottom: 10px;
}

blockquote {
    font-style: italic;
    background-color: #f9f9f9;
    padding: 10px;
    border-left: 5px solid #ccc;
    margin: 20px 0;
    transition: transform 0.3s ease;
}

blockquote:hover {
    transform: scale(1.05);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    transition: all 0.3s ease;
    opacity: 0;
    animation: fadeIn 0.5s forwards 1.5s;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #ff6347;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
