*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: lightcyan;
    padding: 1rem ;
    overflow: hidden;
}

h1{
    color: #1c2554;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    .input_container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    input{
        width: 20rem;
        height: 3rem;
        /* margin-bottom: 1rem; */
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
    }

    button{
        width: 6rem;
        height: 3rem;
        /* margin-top: 1rem; */
        padding: 0.5rem;
        border: none;
        border-radius: 5px;
        background-color: #4caf50;
        color: #fff;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        font-size: 18px;

        &:hover{
            background-color: #3e8e41;
        }
    }

    #results,#error{
        width: 90%;
        margin-top: 2rem;
        font-size: 1.5rem;
        color: #5b7821;
        line-height: 30px;
        overflow: auto;
        height: 400px;
        padding-top: 1rem;
        padding-bottom: 3rem;
        /* text-align: center; */
        p{
            margin : 1.4rem 0;
            span{
                color: #ff0000;
            }
        }
    }
}