*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #b6a7a0; */
    background: linear-gradient(to right, #3a6d58 , #252512);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.9);
}

h1{
    color: #fe0a20;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.stopwatch{
    min-width: 33%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: #ffffff97;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    p{
        background: linear-gradient(to right, blue, red);
        background-clip: text;
        color: transparent;
        text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    }
}

@media (max-width: 600px){
    .stopwatch{
        width: 82%;
        min-width: 350px;
        margin: 2rem 0;
    }
}

#hour,#minutes, #seconds, #milliseconds{
    width: 70px;
    font-size: 48px;
    font-weight: bold;
    margin: 0 10px;
    padding: 10px;
}

.btn-box{
    /* width: 35%; */
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}
#start{
    background-color: #2ecc71;
}
#stop{
    background-color: #e74c3c;
}
#reset{
    background-color: #f1c40f;
}
button{
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 8px black;
    margin-top: 20px;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    
}
button:hover{
    transform: scale(1.05);
    box-shadow: 0 2px 8px rgb(135, 135, 135);
}

