@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jersey 20 Charted", sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #333;
    border-radius: 10px;
    /* color: white; */
    padding: 10px 1rem;
    font-family: "Jersey 20 Charted", sans-serif;

    .logo {
        display: flex;
        align-items: center;
        gap: 5px;
        /* color: #333; */

        img {
            width: 30px;
            height: 30px;
        }
    }

    .box {
        display: flex;
        gap: 2rem;
        justify-content: space-between;
        align-items: center;

        .dark-light-mode {
            display: flex;
            align-items: center;
            /* border: 1px solid wheat; */
            width: 40px;
            height: 21px;
            border-radius: 20px;
            background: linear-gradient(to bottom, #4F2ee8, rgb(167, 167, 167));
            position: relative;
            padding: 1px;

            .circle {
                position: relative;
                width: 18px;
                height: 17px;
                border-radius: 50%;
                background-color: #fff;
                margin-right: 5px;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
                transition : move-circle 0.3s ease-in-out;
            }
        }

    }


    .account {

        /* border: 1px solid #fff; */
        a {
            display: flex;
            align-items: center;
            gap: 4rem;
            padding: 13px;
            border: none;
            border-radius: 30px;
            border: 1px solid black;
            cursor: pointer;
            font-weight: bold;
            background-color: #4F2ee8;
            transition: background-color 0.3s;
        }

        a:hover {
            background-color: #ff9933;

        }
    }

}


.main-container{
    /* position: relative; */
    width: 100%;
    display: flex;

    

    .left-container{
        width: 35%;
        height: 400px;
        /* background-color: #fff; */
        border-radius: 10px;
        overflow: auto;
        padding: 10px;
        
        li{
            width: 90%;
            list-style-type: none;
            font-size: 1.2rem;
            margin: 12px 0;
            cursor: pointer;
            padding: 5px;
            transition: all 0.3s ease-in-out;
        }
        /* li:nth-child(even){
            background-color: #f2f2f2;
        } */
        li:first-child{
            color: #ff9933;
            font-weight: bold;
            font-size: 1.3rem;
        }
        li:hover{
            color: #ff9933;
            transform: scale(1.1) translateX(20px);
        }
    }

    .left-container::-webkit-scrollbar {
        width: 12px; /* Width of the entire scrollbar */
    }

    .left-container::-webkit-scrollbar-track {
        background: #f1f1f1; /* Color of the scrollbar track */
        border-radius: 10px;
    }

    .left-container::-webkit-scrollbar-thumb {
        background-color: #888; /* Color of the scrollbar thumb */
        border-radius: 10px; /* Rounded corners */
        border: 3px solid #fdfafa; /* Padding around thumb */
    }

    .left-container::-webkit-scrollbar-thumb:hover {
        background-color: #555; /* Hover color */
    }


    .right-container{
        width: 70%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        h1{
            font-size: 2rem;
            margin: 10px 0;
            margin-left: 1rem;
            span{
                font-style: italic;
                color:#4F2ee8;
            }
            
        }
        .book-type-container{
            h2{
                font-size: small;
                text-transform: uppercase;
                opacity: 0.6;
                margin-left: 3rem;
                margin-top: 1rem;
                padding-top: 3rem;
               }
            .book-container{
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                margin-left: 3rem;

               .book-div{
                /* text-align: center; */
                width: 180px;
                height: 250px;
                margin-top: 1rem;
                margin-bottom: 3rem;
                border-radius: 5px;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
                cursor: pointer;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                    border-radius: 3px;
                    transition: all 0.3s ease-in-out;
                }
                img:hover{
                    transform: scale(1.1);
                }

                h3{
                    font-size: 0.85rem;
                    margin-top: 5px;
                    transition: color 0.3s ease-in-out;
                    /* color: #4F2ee8; */
                    margin-left: 2px;
                }
                
                p{
                    font-size: 0.7rem;
                    margin-left: 2px;
                    margin-top: 2px;
                    opacity: 0.6;
                }
               }
            }

            .load-more{
                padding: 1rem;
                display: flex;
                justify-content: flex-end;
            }
           
        }

        button{
            margin-top: 1rem;
            padding: 10px 20px;
            border: none;
            border: 2px solid #4F2ee8; 
            border-radius: 30px;
            cursor: pointer;
            margin-left: 3rem;
            transition: background-color 0.3s;
            &:hover{
                background-color: #4F2ee8;
                color: white;
            }
        }
    }

   
}



.book-details-container{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    padding: 20px;
    /* background-color: white; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    border-radius: 8px;
    text-align: center;
    
    .book-info-container{
        width: 95%;
        background-color: #5bbbfb;
        border-radius: 10px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
        overflow: auto;
        display: flex;
        

        .book-info{
            /* width: 35%; */
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2rem;
        }

        .buy-links{
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 10px;
            a{
                padding: 5px 10px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s;
                &:hover{
                    background-color: #502ee8a4;
                    color: white;
                }

                img{
                    width: 50px;
                    /* height: 30px; */
                }
            }
        }
    }
}



.anime1{
    animation: move-right 0.4s forwards linear;
}
.anime2{
    animation: move-left 0.4s reverse linear;
}

@keyframes move-right{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(19px);
        background-color: black;
    }
}
@keyframes move-left{
    100%{
        transform: translateX(19px);
    }
    0%{
        transform: translateX(0px);
        background-color: #fff;
    }
}