*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #e0f1ef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 24px;
}
.container{
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    /* height: 400px; */
    color: rgb(1, 31, 61);
    background-color: #f1efef;
    /* border: 2px solid black; */
    border-radius: 10px;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.4);
    padding: 2rem;
}

h1{
    color: rgb(1, 31, 61);
    text-shadow: -2px  4px 1px rgba(1, 31, 64, 0.2);
}

.input-container{
    display: flex;
    flex-direction: column;

}
label{
    font-size: 18px;
}
input[type="date"]{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 1rem;
    outline: none;
    font-size: 18px;
}

#btn{
    padding: 10px 20px;
    border: none;
    background-color: rgb(1, 31, 61);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#btn:hover{
    background-color: rgb(21, 77, 161);
}


#result-container{
    margin-top: 2rem;
    font-size: 24px;
    color: rgb(1, 31, 61);
    display: flex;
    gap: 2rem;

    .result{
    
        display: flex;
        display: grid;
        text-align: center;
        background-color: rgb(1, 35, 68);
        color: #fff;
        border-radius: 5px;
        padding: 10px;
        margin-right: 10px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
        font-size: 18px;
        width: 90px;
        height: 100px;
        padding: 1rem 0;

        .spec{
            font-size: 25px;
            font-weight: bold;
            align-self: center;

        }
        .date{
            color: aquamarine;
            align-self: flex-end;
        }
    }
}

@media (max-width: 500px){
    .container{
        width: 100%;
        background-color: rgb(201, 201, 13);

        h1{
            font-size: 2rem;
        }
    }
}